<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jhoang.mysqldemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPageSelectionActivity"
            android:label="@string/title_activity_main_page_selection"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.jhoang.mysqldemo.MainPageSelectionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicSelectionActivity"
            android:label="@string/title_activity_music_selection"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".CoordinateSelectionActivity" >
            <intent-filter>
                <action android:name="com.example.jhoang.mysqldemo.MusicSelectionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
        </activity>
        <activity
            android:name=".CoordinateSelectionActivity"
            android:label="@string/title_activity_coordinate_selection"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MusicSelectionActivity" >
            <intent-filter>
                <action android:name="com.example.jhoang.mysqldemo.CoordinateSelectionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
        </activity>
    </application>

</manifest>
